<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Editor</title>
        <style>
        #editor {
          border: 1px solid #ccc;
          min-height: 200px;
          padding: 10px;
        }
        </style>
    </head>

    <body>
		<button id="save-file">Save File</button>
		<input type="file" id="open-file">
		<div id="editor"></div>
    </body>

</html>