<%- include('header', { title: filename }) %>

	<body>
		<button class="btn btn-light">
			<h1 id="file-name">
				<%= filename %>
			</h1>
		</button>
		<nav class="bicontainer navbar navbar-expand">
			<div id="file-menu">
				<a id="open-file" type="button" class="btn btn-outline-primary" href="../../">Back</a>
				<button id="new-file" class="btn btn-primary" href="#">New</button>
				<button id="save-file" type="button" class="btn btn-primary">Save</button>
				<button id="upload-file" class="btn btn-primary">Upload</button>
			</div>
			<div id="action-menu">
				<button id="add-link" type="button" class="btn btn-primary">Add Image</button>
			</div>
		</nav>
		<div class="bicontainer">
			<div id="editor" contenteditable="true">
				<% file.split('\n').forEach( async line=> {%>
					<%- line -%>
						<% })%>
			</div>
			<div>
				<img id="image-viewer" src="" alt="">
			</div>
		</div>
		<!-- Modal to send message to client (Hidden) -->
		<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="messageTitle"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="messageLongTitle">Modal title</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						...
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="../../src/editor.css">
	<script src="../../src/editor.js"></script>
	<%- include('footer') %>