<%- include('header', { title: "Index" }) %>
	<body>
		<h1>Index</h1>
		<% filenames.forEach(filename => { -%>
			<a class="card d-inline-block" style="width: 10rem;" href="/edit/<%= filename %>/">
				<img class="card-img-top img-thumbnail" src="./src/file.ico" alt="File">
				<span class="card-body">
					<h3 class="card-title text-center"><%= filename %></h3>
				</span>
			</a>
		<% })  %>
	</body>
	<script src="./src/index.js"></script>
<%- include('footer') %>