header {
    position: relative;
}

.body {
    text-align: center;
}

nav {
    border-bottom: solid black 1px;
}

#index-button {
    font-size: xx-large;
}

#title-container {
    font-size: xx-large;
}

.split-view > div {
    width: 50%;
}

#text-viewer {
    border-right: solid black 1px;
    overflow-y: auto;
    height: 85vh;
}

#image-viewer {
    max-width: 100%;
    height: auto;
}

.btn {
    display: inline-block;
}

.btn-light {
    background-color: white;
    border-color: white;
}

.full {
    height: 100%;
    width: 100%;
}

img {
    border: gainsboro 1px solid;
}

iframe {
    border: gainsboro 1px solid;
}