<%- include('header') %>
	<body>
		<button id="save-file">Save File</button>
		<button id="open-file">Open File</button>
		<div id="editor">	<% file.split('\n').forEach(line => {%>
			<%- line -%>
		<% })%>
		</div>
	</body>
	<script src="../../src/editor.js"></script>
<%- include('footer') %>