<%- include('header', { title: "Index" }) %>

	<body>
		<h1>Index</h1>
		<% fileNames.forEach(fileName=> { -%>
			<a class="card d-inline-block" style="width: 10rem;" href="/edit/<%= fileName %>/">
				<img class="card-img-top img-thumbnail" src="/res/file.ico" alt="File">
				<span class="card-body">
					<h3 class="card-title text-center">
						<%= fileName %>
					</h3>
				</span>
			</a>
			<% }) %>
	</body>
	<%- include('footer') %>