<%- include('header', { title: "PicBookGen" }) %>
    <h1>PicBookGen</h1>
    <nav class="navbar navbar-expand">
        <div>
            <button id="new-button" class="btn btn-primary" href="#">New</button>
            <button id="upload-button" class="btn btn-primary">Upload</button>
        </div>
    </nav>

    <body>
        Click Add Files to add more files!
    </body>
    <%- include('footer') %>