<%- include("header", { title: "Error" }) %>

  <body>
    <div id="editor">
      <h1>Error</h1>
      <a class="view" href="/res/error.jpg"><%- locals?.message %></a>
    </div>
    <div id="context-menu" class="dropdown-menu"></div>
  </body>
  <script type="module" src="/js/handleHover.js"></script>
  <script type="module" src="/js/contextMenu.js"></script>
  <%- include("footer") %>