<%- include("header", { title: "Login" }) %>

  <body class="center bg-theme">
    <div class="form-container">
      <form class="auth-form" action="/login" method="post">
        <div class="logo-container">
          <img class="logo d-inline" src="/res/PicBookGen2.svg" alt="Logo">
          <h1 class="logo-title tilted-text d-inline">icBookGen</h1>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" name="email" value="" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" value="" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="/register" class="btn btn-info">Switch to Register</a>
      </form>
    </div>
  </body>
  <%- include("footer") %>