<!-- Require { filename: string, fileContent: string } -->

<%- include('nheader', { title: filename }) %>
    <div id="editor" class="disabled" contenteditable="plaintext-only"><%- fileContent -%></div>
    <%- include('nfooter') %>