<!-- Require { filename: string, fileContent: string } -->

<%- include('nheader', { title: filename }) %>
    <div id="text-container" class="disabled" contenteditable="plaintext-only"><%- fileContent -%></div>
        <%- include('nfooter') %>