<!-- Require { filename: string, fileContent: string } -->

<%- include('nheader', { title: filename }) %>
    <div class="disabled" style="white-space: pre-wrap;"><%- fileContent -%></div>
    <%- include('nfooter') %>