<!-- Require { filename: string, fileContent: string } -->

<%- include('nheader', { title: filename }) %>
    <div class="disabled">
        <%- fileContent -%>
    </div>
        <%- include('footer') %>