header {
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.scrollable{
  overflow: auto !important;
  padding: 2%;
}

/* .scrollable> div {
  overflow: auto !important;
} */

.navbar {
  display: flex;
  flex-wrap: wrap;
  border-bottom: solid black 1px;
  max-width: 100vw;
  gap: 5px;
}

.index {
  font-size: xx-large;
}

#editor {
  flex: 1;
  overflow-y: auto;
  word-wrap: break-word;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  cursor: text;
}

#editor:focus {
  outline: none;
}

#image-viewer {
  max-width: 100%;
  height: auto;
  border: none;
}

.btn-light {
  background-color: white;
  border-color: white;
}

img {
  border: gainsboro 1px solid;
  max-height: 100%;
  max-width: 100%;
}

iframe {
  border: gainsboro 1px solid;
}

.disabled {
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}

.hover-select:hover {
  cursor: pointer;
  outline: 1px solid blue
}

.id-selectable {
  cursor: pointer;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: xx-large;
  box-sizing: border-box;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
}

.title:focus {
  border: 1px solid blue
}

dialog {
  display: none;
}

dialog[open] {
  display: block !important;
}

.close-dialog {
  float: right;
}

.hidden {
  display: none;
}

.view:focus {
  border: 1px solid blue
}

#context-menu {
  text-align: center;
}

img {
  border: none;
}

.index {
  width: 2em;
  height: 2em;
  flex: 0 0 auto;
}

.index img {
  border: none;
}