header {
  position: relative;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.scrollable {
  overflow: auto !important;
}

nav {
  border-bottom: solid black 1px;
  gap: 10px;
}

.index {
  font-size: xx-large;
}

#editor {
  flex: 1;
  overflow-y: auto;
  word-wrap: break-word;
  box-sizing: border-box;
  height: 100%;
}

#editor:focus {
  outline: none;
}

#image-viewer {
  max-width: 100%;
  height: auto;
  border: none;
}

.btn-light {
  background-color: white;
  border-color: white;
}

img {
  border: gainsboro 1px solid;
  max-height: 100%;
  max-width: 100%;
}

.frame {
  width: 300px;
  height: 150px;
  overflow: hidden;
  position: relative;
  border: 1px solid #ccc;
}

.frame img {
  position: absolute;
  width: 300px;
  height: auto;
  top: 0;
  left: 0;
}

iframe {
  border: gainsboro 1px solid;
}

.disabled {
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}

.hover-select:hover {
  cursor: pointer;
  outline: 1px solid blue
}

.id-selectable {
  cursor: pointer;
}

.title {
  font-size: xx-large;
  box-sizing: border-box;
}

.title:focus {
  border: 1px solid blue
}