header {
    position: relative;
}

.body {
    text-align: center;
}

nav {
    border-bottom: solid black 1px;
}

#index-button {
    font-size: xx-large;
}

#title-container {
    font-size: xx-large;
}

#text-viewer {
    border-right: solid black 1px;
    overflow-y: auto;
}

#image-viewer {
    max-width: 100%;
    height: auto;
    border: none;
}

.btn-light {
    background-color: white;
    border-color: white;
}

.full {
    height: 100%;
    width: 100%;
}

img {
    border: gainsboro 1px solid;
    max-height: 100%;
    max-width: 100%;
}

iframe {
    border: gainsboro 1px solid;
}

.icon {
    height: 20px;
    width: 20px;
    display: block;
}

.leftside, .rightside {
    height: 100vh;
    width: 100%;
}

.disabled {
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
}

.menu {
    position: absolute;
    display: none; /* Hidden by default */
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    min-width: 150px;
    font-family: Arial, sans-serif;
  }

  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu li {
    padding: 8px 12px;
    cursor: pointer;
  }

  .menu li:hover {
    background-color: #f0f0f0;
  }