header {
    position: relative;
}

.body {
    text-align: center;
}

.bicontainer > div {
    width: 50%;
}

#file-name {
    font-size: xx-large;
}

#editor {
    border-right: solid black 1px;
    height: 84vh;
    overflow-y: auto;
}

#image-viewer {
    max-width: 100%;
    height: auto;
}

nav {
    border: solid black 1px;
}

.btn {
    display: inline-block;
}

.btn-light {
    background-color: white;
    border-color: white;
}